#!/bin/bash

kubectl exec -n log-generator -it {{ result.stdout | regex_search('(kafkacat-[a-z0-9]{10}-[a-z0-9]{5})','\\1') | first }} exec -- kafkacat -C -b rbd-cluster-kafka-brokers.kafka.svc:9092 -t {{ item }}