apiVersion: v1
kind: Service
metadata:
  name: {{ item.1.name }}-jobmanager-ext
spec:
  type: NodePort
  selector: 
    app: {{ item.1.name }}-jobmanager
  ports:
    - port: 8081
      targetPort: 8081
      nodePort: 3102{{ item.0 | string }}
